.dropdown {
  @apply flex
  gap-3;
}

.dropdown .dropdownTrigger {
  @apply static;
}

.dropdownTrigger .dropdownBtn {
  @apply flex
  gap-2
  items-center
  justify-between
  text-base;
}

.dropdown .dropdownContent {
  @apply invisible
  absolute
  right-2;
}

.dropdown.isActive .dropdownContent {
  @apply flex
  flex-col
  gap-2
  items-start
  justify-center
  visible
  absolute
  p-1
  z-50
  right-2
  bg-indigo-600 
  rounded-md 
  bg-clip-padding 
  backdrop-filter 
  backdrop-blur-sm 
  bg-opacity-50 
  border 
  border-indigo-400/70;
}

.dropdownContent .dropdownItem {
  @apply w-full p-2
  text-white
  hover:bg-indigo-600/80
  hover:opacity-70 
  hover:text-opacity-100
  hover:rounded-md;
}
