.listBox {
  height: calc(100vh - 64px);
}

.listHead {
  @apply flex
  items-center
  justify-center
  gap-2
  bg-indigo-400
  rounded
  mb-2
  py-4
  px-2
  w-full;
}

.createNoteBtn {
  @apply flex
  items-center
  justify-center
  gap-1
  bg-purple-600
  hover:bg-purple-500
  rounded
  p-1
  w-full;
}

.listHeadTitle {
  @apply flex
  justify-center
  w-full;
}

.listWrapper {
  @apply flex flex-col divide-y divide-indigo-300
    bg-indigo-400 rounded;
}

.listOption {
  @apply flex 
  flex-col
  py-4
  px-2
  cursor-default
  hover:bg-indigo-300/30;
}

.listTitle {
  @apply text-lg
  font-bold;
}

.listDescription {
  @apply text-sm;
}

.listData {
  @apply text-xs
  italic
  self-end;
}

.listOptionHeader {
  @apply flex justify-between items-center;
}

.deleteBtn {
  @apply font-black
  text-red-100
  hover:text-red-500;
}
